body{
    background-size: 100%;
    font-family: sans-serif;
}
header{
    width:90%;
    margin: 0% 5%;
    background-color: #3D6981;
    display: flex;
    /*position:fixed; 
    left:10%;                 // Esto lo modificamos al final
    top: 0%; */ 
}

/* Barra de busqueda 
.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 16px;
    background-color: #eeeeee;
    border-radius: 8px;
    padding: 10px 20px;
    transition: .5s ease-in-out; 
}
.buscar:hover{
    width: 200px;
}
input{
    width: 100%;
    height: 100%;
    color: #07090a;
    font-size: 15px;
    border: none;
    outline: none;
    background: transparent;
}

.i{
    font-size: 22px;
    color: #3D6981;
    cursor: pointer;
}*/
/* Buscar Pantalla Grande */
.buscar1{
    display: flex;
    background: white;
    padding: 10px 10px;
    height: 20px ;
    border-radius: 20px;
    margin-top: 10px;
}

.buscar_texto1{
    border:none;
    background:none;
    outline: none;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.boton_buscar1{
    border:none;
    background:white;
    outline: none;
    color:#3D6981;
    font-size: 25px;
    margin: 0px 0px 10px 0px;
}
/* Buscar pantalla pequeña */

.buscar{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #3D6981;
    padding: 10px 50px;
    height: 40px ;
    border-radius: 40px;
}

.buscar_texto{
    border:none;
    background:none;
    outline: none;
    color: white;
    font-size: 20px;
    padding: 5px;
}

.boton_buscar{
    border:none;
    background:white;
    outline: none;
    color:#3D6981;
    font-size: 30px;
    padding: 5px;
    border-radius: 40px;
}

/* Logo */

.logo{
    margin-top: 3px;
    width: 80px;
    margin-left: 25%;
    display: none;
}

/* Titulo reyes */
.reyes{
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: aqua;
    display: none;
}
/* Menu   display: none; */
.menu > li{
    float: right;
}
.menu li ul {
    display: none;
    position: absolute;
    min-height: 140px;
}
.menu ul {   /* Lista  */
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction:row;
}
.menu li a{  /* Cada boton */
    display: block;
    padding: 20px 20px;
    color: #fff;
    background-color: #3D6981;
    text-decoration: none;
    font-weight: bold;
}

.menu li a:hover{
    background-color: #85c3dd;
}
.menu li:hover > ul{
    display: block;
}
/* Boton menu cuando es mas pequeña la ventana */
#BtnMenu{
    display: none;
}

header label{
    display: none;
    width: 41px;
    height: 41px;
    padding: 10px;
    border: #ddd;
    background: white;
    border-radius: 40px;
    background-color: #3D6981;
}

header label:hover{
    cursor: pointer;
    background-color: #85c3dd;
}

/* Foto inicio */
.fotoInicio{
    width: 90%;
    margin: auto;
}
img{
    width: 100%;
}

/* Agencia texto */
.texto{
    margin-top: 50px;
    text-align: center;
    color: #3D6981;
    margin-bottom: 10px;
    font-style: normal;
}



@media (max-width:880px){
    header label{
         display: block; 
    }
    .menu{
        position: absolute;
        background: #3D6981;
        width: 70%;
        left: -100%;
        transition: all .5s;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    #BtnMenu:checked ~ .menu{
        left: 0%;
        margin: 7.5% 6%;
    }
    .checkBtn{
        font-size: 25px;
        line-height: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    .reyes{
        display: block;
        background-color: #3D6981;
        padding: 0px;
        margin-left: 10px;
    }

    .logo{
       display: block;
    }
    .buscar1{
        display: none;
    }
    .buscar{
        display: flex;
    }

}

/* ///////////////////De aqui para abajo se puede modificar/////////////////////////////// */

/* Los viajes disponibles  Panel azul definir la zona donde van a ir las imagenes*/
.lista1{
    margin-top: 10px;
    width: 80%;
    margin: auto;
    padding: 10px;
    /*  background-color: #85c3dd; */ /* Ver la zona donde van a ir las imagenes */
}

.lista1 ul { 
    display: flex;   /* Poner en horizontal la lista */
}

.lista1 li {         /* Las fotos */
    color: #fff;
    background-image: url("Imagenes/japon.jpg"); /* Poner imagen de fondo */
    text-align: center;
    display: block;  /* Quitar puntito en las listas */
    padding: 150px 50px; /* Tamaño de cada imagen */
    margin: 5px 5px;/* Separacion entre fotos vertical y horizontal */
} 

/* Luis: te comento esto un momento */
/*viaje1*/
/* .viaje1{
    margin-top: 5px;
    text-decoration: none;
    width: 29%;
    padding: 2% 0%;
    background-color: #ebb852;
} */



/* Codigo Luis */
/* Luis borrar luego si sale mal */

.lista1__ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    /* luis:borrar */
    justify-content: center;
  }
  
  .viaje1 {
    /* Esta linea forzaba a imprimir 3 imagenes y cuando habia una linea que tenia solo 1 o 2 se corrompia la presentacion */
     /* flex: 1 0 30%; */  /* Ajusta según sea necesario */
     /* SOLO FUNCIONABA PARA 3 IMAGENES */
     /* flex: 1 0 calc(33.33% - 20px); */ /* Ajuste importante aquí */
     /* Solucion: */
     /* flex: 0 0 calc(30% - 20px);  */ /* Ajuste para el ancho de las imágenes con espacio SOLO FUNCIONA CON UNA IMAGEN*/
    margin: 10px; /* Ajusta el margen entre las imágenes */
    box-sizing: border-box; /* Asegura que el margen se incluya en el ancho del elemento */
    /* tres nuevas lineas */
    text-align: center;
    position: relative;
    /* SOLUCION PARA QUE MUESTRE BIEN HAYA LAS IMAGENES QUE HAYA POR FILA */
    flex: 0 0 calc(30% - 20px);
    

  }
  
  .viaje1 img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block; /* Elimina el espacio adicional debajo de las imágenes */
  }
  /* Pie de pagina */
.pie{
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #3D6981;
    width: 90%;
    padding: 5% 0%;
    margin: auto;
    /* Luis: si no te mola lo quitamos , redondea los bordes y los pone negros  */
     border-radius: 10px;
    border: 3px solid black ; 
}
.pie__rrss img[src$=".png"] {
    /* Aplicar un fondo negro */
    background-color: rgb(0, 0, 0);
    /* redondear las esquinas */
    border-radius: 10px;
    /*boede de color blanco*/
    border : 2px solid rgb(255, 255, 255);
    /*border-color: black;*/

  }

  .pie__rrss {

    /* Establece un formato de visualización en línea (en línea) para los elementos secundarios */
  display: flex;
  /* Alinea los elementos secundarios en el eje principal (horizontalmente) */
  justify-content: space-around; /* Puedes usar 'space-between', 'space-evenly', etc. según tus necesidades */
  /* Ajusta el espacio entre los elementos secundarios */
  gap: 50px; /* Otra opción sería 'margin-right' en los elementos secundarios */
 
  
}
.viaje1__texto {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo translúcido en negro */
    padding: 10px;
    border-radius: 5px;
    size-adjust: inherit;
    /* Para que el div ocupe el tamaño de su contenido y no de su contenedor */
    display: inline-block; 
    /* position: absolute;
     bottom: 10px; */
   
  }
 
 
 