body{
    background-size: 100%;
    font-family: sans-serif;
}
header{
   width: 100%;
   margin: 0px auto;
}
/* form{
     background-color: rgb(6, 90, 81); 
} */

.d-block{
    height: 65vh;
    object-fit: cover; 
}
@media screen and (max-width: 575px){
    .d-block{
        height: 40vh;
        object-fit: cover; 
    }
}

@media screen and (max-width: 300px){
    .cd-block{
        height: 20vh;
        object-fit: cover; 
    }
}
